.App-Download {
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
}

.App-Download-platform {
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
    margin-top: 40px;
}

.App-Download-platform img {
    width: max(3vw, 190px);
    max-width: 280px;
    transition: 0.5s;
    cursor: pointer;
}

.App-Download-platform img:hover {
    transform: scale(1.05);
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .App-Download {
        font-size: max(3.5vw, 18px);
    }
    .App-Download-platform {
        gap: max(3vw, 8px);
    }
    .App-Download-platform img {
        width: max(4vw, 160px);
    }
}

@media (max-width: 900px) {
    .App-Download {
        font-size: max(4vw, 16px);
    }
    .App-Download-platform {
        gap: max(4vw, 6px);
    }
    .App-Download-platform img {
        width: max(5vw, 140px);
    }
}

@media (max-width: 600px) {
    .App-Download {
        font-size: max(5vw, 14px);

    }
    .App-Download-platform {
        flex-direction: column;
        gap: max(5vw, 5px);
    }
    .App-Download-platform img {
        width: max(6vw, 120px);
margin-left:33%;
    }
}


}
